





li{
    padding: 10px;
}
button{
    padding: 10px;
    margin: 10px;
}
.qwe{
    margin-left: 70px;
    width: 90px;
    height: 50px;
}
.ewq{
    margin-left: 30px;
    background-color: orangered;
    color: white;
    width: 90px;
    height: 50px;
}
}
.banner{
    background-image: .;
}
.brandname{
    mar
}
.hme{
    margin-left: 290px;
}
.texthead{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 170px;
    left: 830px;
}
.subhead{
    color: white;
    position: absolute;
    top: 290px;
    left: 830px;
}
.exp{
    background-color: orangered;
    position: absolute;
    top: 390px;
    left: 840px;
}
h1{
    font-size: 40px;
    text-align: center;
    color: aquamarine;
}
h4{
    text-align: center;
}
#a1{
    width: 170px;
    height: 140px;
    background-color: white;
}
#a2{
    width: 170px;
    height: 140px;
    background-color: white;
}
#a3{
    width: 170px;
    height: 140px;
    background-color: white;
}
#a4{
    width: 170px;
    height: 140px;
    background-color: white;
}